body{
    background: linear-gradient(115deg, #2c3e52, #fd746a);
    color: white;
    scroll-behavior: smooth;
}

.logo{
    max-width: 100px;
    max-height: 600px;
  }
  
  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .nav__link{
    display: flex;
    list-style: none;
    gap: 2rem;
    float: right;
  }
  
  li a{
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: large;
    font-family:  'Open Sans', sans-serif;
  }

  header{
    position: relative;
    padding: 0 2rem;
  }

  .about-me{
    padding: 3em;
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav__link {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: 768px) {
    .about-me {
      flex-direction: column;
    }
    .about-me img{
      display: none;
    }
  }


    /*placing a paragraph and an image on the same width*/
    .intro, .profile{
        max-width: 2000px;
        margin: 0 auto;
        display: grid;
        place-items: center; 
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        padding-left: 5rem;
      }

img{
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
                0.125em 0.125em 0.25em rgba(0,0,0,.15);
    max-width: 100%;
    max-height: 65%;
  
  }

  .profile{
        max-width: 2000px;
        margin: 0 auto;
        display: grid;
        place-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;
        padding-left: 5rem;
      
  }
  span{
    color: yellowgreen;
  }

  /*services*/
  @media (max-width: 800px) {
    .services{
      position: relative;
      top: unset;
      left: unset;
    }
  }

  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  
.services{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding-inline: 24px;
  margin-inline: auto;
  position: relative;
}

.card {
    min-height: 100vh;
    padding: 30px;
    color: #224;
    max-width: 300px;
    min-height: 200px;
    height: 200px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  }
  .card:hover {
    background-image: url(img/colorkit\ \(1\).png);
    color: white;
    transition: all 0.4s ease-in-out;
    transform-origin: center;
    transform: scale(1.1);
    box-shadow: rgba(192, 32, 104, 0.16) 0px 10px 36px 0px, rgba(227, 20, 20, 0.06) 0px 0px 0px 1px;
  }

  /*projects*/

  .projects{
    display: grid;
    place-items: center;
    padding: 1em;
    font-size: 30px;
    font-weight: 700;
    color: black;
  }

  article {
    position: relative;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
    
  }
  
  .article-body {
    padding: 24px;
    color: black;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }

  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
      
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }


  /* footer */
footer h3:hover{
  text-decoration: underline;
  cursor: pointer;
}

.footer {
    color: black;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.25rem;

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: 900;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}